services:
  upsampler:
    build: .
    image: nvidia_upsample_gradio
    container_name: nvidia_upsample
    
    ports:
      - "7860:7860"
    
    volumes:
      - ./restored_audio:/app/outputs
    
    environment:
      - PYTORCH_CUDA_ALLOC_CONF=max_split_size_mb:512
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]

    stdin_open: true
    tty: true
